.spinner {
    margin-right: 15px;
    margin-top: 10px;
}

.clock {
    color: lightGray;
}

.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 0px solid #ccc;
  margin: 0 15px;
  margin-top: 28px;
}

.panel{
    margin-bottom: 0;
}

.in, .danger{
    color: red;
}

.out{
    color: blue;
}

.page-header {
    border-bottom: 0;
}

sub{
    font-size: xx-small;
}

.loadingSpinner {
  height: 20px;
  width: 20px;
  /*margin: 94px auto 0 auto;*/
  position: relative;
  -webkit-animation: rotation .8s infinite linear;
  -moz-animation: rotation .8s infinite linear;
  -o-animation: rotation .8s infinite linear;
  animation: rotation .8s infinite linear;
  border-left: 3px solid rgba(226,67,41, .2);
  border-right: 3px solid rgba(226,67,41, .2);
  border-bottom: 3px solid rgba(226,67,41, .2);
  border-top: 3px solid rgba(226,67,41, .8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loadingDiv{
    display: inline-block;    
    margin-left: 10px;
    /*padding-top: 10px;*/
}

@media only screen and (max-width: 640px) {
  .smallTableFont{
    font-size: 9px;
  }
}

/********************************************************************************/
/*@media only screen and (max-width: 800px) {
	
	#flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	#flip-scroll * html .cf { zoom: 1; }
	#flip-scroll *:first-child+html .cf { zoom: 1; }
	
	#flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; }
 
	#flip-scroll th,
	#flip-scroll td { margin: 0; vertical-align: top; }
	#flip-scroll th { text-align: left; }
	
	#flip-scroll table { display: block; position: relative; width: 100%; }
	#flip-scroll thead { display: block; float: left; }
	#flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	#flip-scroll thead tr { display: block; }
	#flip-scroll th { display: block; text-align: right; }
	#flip-scroll tbody tr { display: inline-block; vertical-align: top; }
	#flip-scroll td { display: block; min-height: 1.25em; text-align: left; }
 
 
	* sort out borders *
 
	#flip-scroll th { border-bottom: 0; border-left: 0; }
	#flip-scroll td { border-left: 0; border-right: 0; border-bottom: 0; }
	#flip-scroll tbody tr { border-left: 1px solid #babcbf; }
	#flip-scroll th:last-child,
	#flip-scroll td:last-child { border-bottom: 1px solid #babcbf; }
}*/

/********************************************************************************/